@model StudyDoIT.Models.NLP.Product

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/AdminIT/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
                <div class="panel-actions">
                    <a href="#" class="panel-action panel-action-toggle" data-panel-toggle></a>
                </div>

                <h2 class="panel-title">Sửa nhóm sản phẩm</h2>
            </header>
            <div class="panel-body">
                @using (Html.BeginForm("Edit", "Products", FormMethod.Post, new { @class = "form-horizontal form-bordered", enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()

                    <div class="form-group">
                        <label class="col-md-3 control-label" for="inputPlaceholder">Mã nhóm sản phẩm</label>
                        <div class="col-md-6">
                            @Html.ValidationSummary(true)
                            @Html.TextBoxFor(model => model.Id, new { @class = "form-control", disabled = "" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="inputPlaceholder">Tên nhóm sản phẩm</label>
                        <div class="col-md-6">
                            @Html.TextBoxFor(model => model.Name, new { @class = "form-control", placeholder = "Tên thể loại", required = "required" })
                            @Html.ValidationMessageFor(model => model.Name)
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="inputPlaceholder"></label>
                        <div class="col-md-6">
                            <div class="checkbox-custom checkbox-success">
                                @if (Model.Publish == 0)
                                {
                                    <input name="Publish" type="checkbox" id="checkboxExample2">
                                }
                                else
                                {
                                    <input name="Publish" type="checkbox" checked id="checkboxExample2">
                                }
                                <label for="checkboxExample2">Trạng thái </label>
                            </div>
                            @Html.ValidationMessageFor(model => model.Publish)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <button type="submit" class="mb-xs mt-xs mr-xs btn btn-success"><i class="fa fa-save"></i> Lưu</button>
                            @*<button type="submit" class="mb-xs mt-xs mr-xs btn btn-default"><i class="fa fa-refresh"></i> Lưu và tiếp tục sửa</button>*@
                            <button onclick="form.action = '/AdminIT/Products'" class="mb-xs mt-xs mr-xs btn btn-default"><i class="fa fa-arrow-circle-o-right"></i> Quay lại danh sách</button>
                        </div>
                    </div>
                }
            </div>
        </section>
    </div>
</div>

