@model IEnumerable<StudyDoIT.Models.NLP.Vocabulary>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/AdminIT/Views/Shared/_LayoutAdmin.cshtml";
}

<header class="panel-heading">
    <div class="panel-actions">
        <a href="#" class="panel-action panel-action-toggle" data-panel-toggle></a>
    </div>
    <span>Thời gian chạy: </span><strong>@ViewBag.Time</strong>
    <h2 class="panel-title">Danh sách từ trong từ điển của sản phẩm</h2>
    <div style="float: right; margin-right: 40px; margin-top: -27px;">
        <a class="btn btn-success" href="/AdminIT/Task/LoadListVocabulary"> <span><i class="fa fa-plus"></i></span>Load từ điển</a>
    </div>
</header>
<div class="panel-body">
    <table class="table table-bordered table-striped mb-none" id="datatable-tabletools"
           data-swf-path="/Areas/AdminIT/Content/vendor/jquery-datatables/extras/TableTools/swf/copy_csv_xls_pdf.swf">
        <thead>
            <tr>
                <th>Từ khóa</th>
                <th>Số lượng</th>
                <th>Loại từ</th>
                <th>Hành động</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr class="gradeX">
                    <td>@Html.DisplayFor(modelItem => item.Word)</td>
                    <td>@Html.DisplayFor(modelItem => item.Counts)</td>
                    <td>@Html.DisplayFor(modelItem => item.TypeWord)</td>
                    <td class="actions">
                        @Html.ActionLink("Xóa", "Delete", new { id = item.Id })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

