@model IEnumerable<StudyDoIT.Models.NLP.Manufacturer>
@using StudyDoIT.Models.Admin;

@if (Model != null)
{
    lCMSData db = new lCMSData();
    string id = ViewBag.ProductId;
    var cate = db.ProductManufacturerMappings.Where(e => e.ProductId == id).ToList();

    <div class="form-group">
        <label class="col-md-3 control-label"> Danh mục nhà sản xuất </label>
        <div class="col-md-6">

            @foreach (var item in Model)
            {
                <div class="checkbox-custom checkbox-info">
                    @if (cate.Count() > 0)
                    {
                        bool k = false;
                        foreach (var cn in cate)
                        {
                            if (cn.ManufacturerId == item.Id)
                            {
                                k = true;
                                break;
                            }
                        }
                        if (k == true)
                        {
                            <input name="@item.Id" type="checkbox" id="checkboxExample5" checked="checked">
                        }
                        else
                        {
                            <input name="@item.Id" type="checkbox" id="checkboxExample5">
                        }
                        <label for="checkboxExample5">@item.Name</label>
                    }
                    else
                    {
                        <input name="@item.Id" type="checkbox" id="checkboxExample5">
                        <label for="checkboxExample5">@item.Name</label>
                    }
                </div>
            }
        </div>
    </div>
}


