@model StudyDoIT.Models.NLP.User

<header class="header">
    <nav class="navbar navbar-default navbar-fixed-top row">
        <div class="brand logo-container">
            <a href="adminit/home" class="img-responsive logo">
                <img src="~/Areas/AdminIT/Content/images/logo-epu.png" height="40" />
                @*<img src="/Areas/AdminIT/Content/images/dragonviet.png" height="35" alt="Admin" />*@
            </a>
            <div class="visible-xs toggle-sidebar-left" data-toggle-class="sidebar-left-opened" data-target="html" data-fire-event="sidebar-left-opened">
                <i class="fa fa-bars" aria-label="Toggle sidebar"></i>
            </div>
        </div>
        <div class="container-fluid">
            <div class="sidebar-toggle hidden-xs" data-toggle-class="sidebar-left-collapsed" data-target="html" data-fire-event="sidebar-left-toggle">
                <div class="navbar-btn">
                    <button type="button" class="btn-toggle-fullwidth"><i class="lnr lnr-arrow-left-circle"></i></button>
                </div>
            </div>
            <!-- start: search & user box -->
            <div class="header-right">

                <form action="" class="search nav-form hide">
                    <div class="input-group input-search">
                        <input type="text" class="form-control" name="q" id="q" placeholder="Tìm kiếm...">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
                        </span>
                    </div>
                </form>
                @*<span class="separator"></span>

                    <span class="separator"></span>*@
                <div id="userbox" class="userbox nav navbar-nav navbar-right ">
                    <a href="" data-toggle="dropdown">
                        <figure class="profile-picture">
                            <img src="@("/Uploads/_thumbs/Images/" + Model.Avata??"default.png")" alt="@Model.FullName" class="img-circle" data-lock-picture="..@("/Uploads/_thumbs/Images/"+Model.Avata??"default.png")" />
                        </figure>
                        <div class="profile-info" data-lock-name="@Model.UserName" data-lock-email="@Model.Email">
                            <span class="name">@Model.FullName</span>
                            <span class="role">@Model.Role.Name</span>
                        </div>
                        <i class="fa custom-caret"></i>
                    </a>
                    <div class="dropdown-menu">
                        <ul class="list-unstyled">
                            <li class="divider"></li>
                            <li>
                                <a role="menuitem" tabindex="-1" href="/AdminIT/Account/InfoUser"><i class="fa fa-user"></i> Thông tin cá nhân</a>
                            </li>
                            <li>
                                <a role="menuitem" tabindex="-1" href="/AdminIT/Account/ChangePass/@Model.Id"><i class="fa fa-lock"></i> Đổi mật khẩu</a>
                            </li>
                            <li>
                                <a role="menuitem" tabindex="-1" href="/AdminIT/Account/Logout"><i class="fa fa-power-off"></i> Đăng xuất</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>